@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family:  'Jost' ,sans-serif;
   background-color: #f7f8fd;
}



/* ADD GENERAL STYLES */
@layer components { 
    h1,h3,h6{
         @apply text-greyDarkest font-bold
    } 
    h2{
      @apply text-white font-bold text-[1rem] md:text-[1.28rem]
    }

     h3{
      @apply text-[0.82rem] md:text-[1.12rem]
    } 
    
     h4{
      @apply text-white font-bold  text-[0.81rem] md:text-[0.9rem]
    } 

    h5{
      @apply text-white font-bold  text-[0.76rem] md:text-[0.83rem]

    }
    
     p,li{
      @apply text-greyDark tracking-wider leading-5 text-[0.87rem] md:text-base
     }


     /* FLEX */
    .flex-col-between {
      @apply flex flex-col justify-between items-center;
    }
    .flex-row-between {
      @apply flex flex-row justify-between items-center;
    }
  
   .input{
    @apply bg-greyLight text-greyDarker text-sm mt-4   rounded-md px-2 py-4 outline-none  w-full focus:border-2 border-blueHover;
   }


}



/* add the  */

.checkIcon::after{
  content: url(/src/images/shared/icon-check.svg);
  position: absolute;
  left: 80%;
}

