@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family:  'Jost' ,sans-serif;
   background-color: yellow;
}

/* ADD GENERAL STYLES */
@layer components { 
    h1,h3,h4,h5,h6{
         @apply text-greyDarkest font-bold
    } 
    h2{
      @apply text-white font-bold text-[0.94rem] md:text-[1.28rem]
    }

     h3{
      @apply text-[0.82rem] md:text-[1.12rem]
    } 

     p{
      @apply text-greyDark tracking-wider leading-5 text-[0.87rem] md:text-base
     }

    .flex-row-between {
      @apply flex flex-col justify-between items-center;
    }
    .flex-col-between {
      @apply flex flex-row justify-between items-center;
    }


}